.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-black;
  color: $color-primary;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $large-font-size;
  font-weight: $bold-font;
  text-transform: uppercase;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader__image {
  animation: rotateAnimation 1s linear infinite; /* Adjust duration and timing function as needed */
}
