$color-primary: #fbf3cc;
$color-primary-hover: #ccc5a7;
$color-primary-active: #bcb49b;
$color-white: #fff;
$color-black: #0b1215;

$icon-size: 18px;
$desktop-icon-size: 24px;
$br-radius: 8px;

$smooth-transition: 0.3s;
$height-mobile-transition: 0.3s;
